In [1]:
from src import import_raw_data, average_prices, list_unique_products_by_categories_by_df
from constants import COLS

In [2]:
df_1, df_2 = import_raw_data()

In [3]:
df_1

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible,pe_id,p_id_cat
0,Offres spéciales|promo,5.85,85061,NaN,NaN,2145942,3407F
1,Accueil|Epicerie sucrée|Boissons du matin ou d...,5.85,85061,NaN,NaN,2145942,3407F
2,Accueil|Epicerie sucrée|Boissons du matin ou d...,5.85,85061,NaN,NaN,2145942,3407F
3,Offres spéciales|Jackpot d'automne,5.85,85061,NaN,NaN,2145942,3407F
4,Offres spéciales|promo,2.17,51605,NaN,NaN,1075976,3423F
...,...,...,...,...,...,...,...
22215,Accueil|Bio|Le marché Bio,5.29,16507,NaN,NaN,673043,NaN
22216,Accueil|Viandes Poissons|Boucherie|Viande bovine,4.80,48179,NaN,NaN,1045450,649E
22217,Accueil|Viandes Poissons|Boucherie,4.80,48179,NaN,NaN,1045450,649E
22218,Accueil|Viandes Poissons|Boucherie|Viande bovine,4.89,65911,NaN,NaN,1433457,307D
22219,Accueil|Viandes Poissons|Boucherie,4.89,65911,NaN,NaN,1433457,307D

In [4]:
df_2

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible,pe_id,p_id_cat
0,Offres spéciales|promo,5.85,85061,NaN,1,2145942,3407F
1,Accueil|Epicerie sucrée|Boissons du matin ou d...,5.85,85061,NaN,1,2145942,3407F
2,Accueil|Epicerie sucrée|Boissons du matin ou d...,5.85,85061,NaN,1,2145942,3407F
3,Offres spéciales|Jackpot d'automne,5.85,85061,NaN,1,2145942,3407F
4,Offres spéciales|promo,2.17,51605,NaN,1,1075976,3423F
...,...,...,...,...,...,...,...
22128,Accueil|Bio|Le marché Bio,5.29,16507,NaN,1,673043,NaN
22129,Accueil|Viandes Poissons|Boucherie|Viande bovine,4.80,48179,NaN,1,1045450,649E
22130,Accueil|Viandes Poissons|Boucherie,4.80,48179,NaN,1,1045450,649E
22131,Accueil|Viandes Poissons|Boucherie|Viande bovine,4.89,65911,NaN,1,1433457,307D
22132,Accueil|Viandes Poissons|Boucherie,4.89,65911,NaN,1,1433457,307D

In [5]:
prices = average_prices(df_1, df_2)

In [6]:
products1 = list_unique_products_by_categories_by_df(df_1)
products2 = list_unique_products_by_categories_by_df(df_2)

In [7]:
import pandas as pd

In [8]:
df_merged_1 = pd.DataFrame([['cat_1', 6.8, None, None, None, 123, None],
                                ['cat_2', 6.2, None, None, None, 123, None]], columns=COLS)
df_merged_2 = pd.DataFrame([['cat_1', 8, None, None, None, 123, None],
                                ['cat_2', 6.2, None, None, None, 124, None]], columns=COLS)

In [9]:
df_merged_1

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible,pe_id,p_id_cat
0,cat_1,6.8,None,None,None,123,None
1,cat_2,6.2,None,None,None,123,None

In [10]:
average_prices(df_merged_1, df_merged_2)

{123: 7.0, 124: 6.2}

In [11]:
list_unique_products_by_categories_by_df(df_merged_1)

{'cat_1': array([123]), 'cat_2': array([123])}

In [41]:
from typing import Generator
from random import randint
import math
def echo_round() -> Generator[int, float, str]:
    randoms = (randint(10, 20) while randint(10, 20) !=15)

SyntaxError: invalid syntax (3053465284.py, line 5)

In [40]:
for i in echo_round():
    print(i)

18
20
19
10
15

In [42]:
str(5)

'5'

In [43]:
str(5.8)

'5.8'

In [44]:
str(math.inf)

'inf'

In [45]:
str(None)

'None'

In [46]:
str(-1)

'-1'